{{- if .Context }}
Instruction:
{{- if index .Context "instruction" }}
{{ index .Context "instruction" }}
{{- else }}
N/A
{{- end }}

DID (what/where to implement):
{{- if index .Context "did" }}
```json
{{ index .Context "did" }}
```
{{- else }}
N/A
{{- end }}

{{- if gt (len .Documents.Items) 0 }}
Relevant Documents:
{{- range .Documents.Items }}

- {{ .Title }} ({{ .SourceURI }})
{{- end }}
End of Documents.
{{- end }}
{{- end }}

Task:
{{ .Task.Prompt }}

At the end, include an `implementation_report` JSON describing what and where changes were implemented, as specified.
