{{- if .CanPreventDuplicateToolCalls }}
The previous function succeeded. Do NOT make an immediately consecutive call with the same arguments in this assistant reply; reuse its output instead.
{{- end }}

{{- if .Context }}
Context:
{{.Context}}
{{- end}}


{{- if gt (len .Documents.Items) 0 }}
Relevant Documents:
{{- range .Documents.Items }}
- {{.Title}} ({{.SourceURI}})
{{.PageContent}}
{{- end}}
End of Documents.
{{- end}}

{{- if and (not .Flags.CanUseTool) (gt (len .Tools.Executions) 0) }}
Previous Tool Executions:
{{- range .Tools.Executions }}
- tool: {{.Name}} args: {{.Arguments}}{{if .Result}} => {{.Result}}{{end}}{{if .Error}} Error: {{.Error}}{{end}}
{{- end}}
End of Previous Tool Executions.
{{- end}}

User Query:
{{.Task.Prompt}}
